/*Header*/
.header{
    background-color: skyblue;
    padding: 20px;
    min-width: 1200px;
    height: 15%;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

/*Navigation*/
.nav{
    position: absolute;
    bottom: 30px;
    right: 10px; 
    background-color: #333;
    border: 1px solid black;
    height: 30%;
    padding: 10px;
    width: 700px;
    position: absolute;    
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: skyblue;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover {
    background-color: #ddd;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }

h4{
  position: absolute;
  color: white;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  top: 70%;
}


/*Body*/
.body{
    background-color: #eaeaed;
    border: 1px solid black;
    height: auto;
    padding: 20px;
    min-width: 1200px;;
    margin: auto;
}

/*SVG*/
.LetterP{
  width: 3%;
  position: relative;
  animation: bounce01 3s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterO01{
  width: 3.5%;
  position: relative;
  animation: bounce01 4s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterO02{
  width: 3.5%;
  position: relative;
  animation: bounce01 4s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterO03{
  width: 3.5%;
  position: relative;
  animation: bounce01 3s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterR{
  width: 3%;
  position: relative;
  animation: bounce01 3s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterT{
  width: 3.3%;
  position: relative;
  animation: bounce01 4s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterF{
  width: 3%;
  position: relative;
  animation: bounce01 3s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterL{
  width: 3%;
  position: relative;
  animation: bounce01 3s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
.LetterI{
  width: 3%;
  position: relative;
  animation: bounce01 4s infinite;
}
@keyframes bounce01 {
  0%   {top: 0px;}
  50%  {top: -10px;}
  100% {top: 0px;}
}
